{% extends 'home.html' %}
{% block content%}
<section class="main swiper mySwiper">
    <div class="wrapper swiper-wrapper">
        <div class="slide swiper-slide">
            <img src="{{ url_for('static', filename='images/fred.jpg')}}" alt="" class="image" />
            <div class="image-data">
              <span class="text">Enjoy the finest coffee drinks.</span>
              <h2>
                Enjoy Our Exclusive <br />
                Coffee and Cocktails
              </h2>
              <a href="#" class="button">About Us</a>
            </div>
          </div>
          <div class="slide swiper-slide">
            <img src="{{ url_for('static', filename='images/group.jpg')}}" alt="" class="image" />
            <div class="image-data">
              <span class="text">We really like what we do.</span>
              <h2>
                Coffee Beans with a <br />
                Perfect Aroma
              </h2>
              <a href="#" class="button">About Us</a>
            </div>
          </div>
          <div class="slide swiper-slide">
            <img src="{{ url_for('static', filename='images/julien.jpg')}}" alt="" class="image" />
            <div class="image-data">
              <span class="text">Making Our coffee with lover.</span>
              <h2>
                Alluring and Fragrant <br />
                Coffee Aroma
              </h2>
              <a href="#" class="button">About Us</a>
            </div>
          </div>
          <div class="slide swiper-slide">
            <img src="{{ url_for('static', filename='images/chris.jpg')}}" alt="" class="image" />
            <div class="image-data">
              <span class="text">Making Our coffee with lover.</span>
              <h2>
                Alluring and Fragrant <br />
                Coffee Aroma
              </h2>
              <a href="#" class="button">About Us</a>
            </div>
          </div>
        </div>
    </div>
    <!--next and prev buttons -->
    <div class="swiper-button-next nav-btn"></div>
    <div class="swiper-button-prev nav-btn"></div>
    <div class="swiper-pagination"></div>
  </section>
{%endblock%}