{% extends 'home.html' %}
{% block content%}
<section class="main swiper mySwiper">
    <div class="wrapper swiper-wrapper">
        <div class="slide swiper-slide">
            <img src="{{ url_for('static', filename='images/fred.jpg')}}" alt="" class="image" />
            <div class="image-data">
              <span class="text">Enjoy great moments with the right people.</span>
              <h2>
                Connect and build your career<br />
                Have fun doing it.
              </h2>
              <a href="{{ url_for('home') }}#services" class="button">Explore</a>
            </div>
          </div>
          <div class="slide swiper-slide">
            <img src="{{ url_for('static', filename='images/group.jpg')}}" alt="" class="image" />
            <div class="image-data">
              <span class="text">We really like what we do.</span>
              <h2>
                Get a sense of community<br />
                with us.
              </h2>
              <a href="{{ url_for('home') }}#services" class="button">Explore</a>
            </div>
          </div>
          <div class="slide swiper-slide">
            <img src="{{ url_for('static', filename='images/julien.jpg')}}" alt="" class="image" />
            <div class="image-data">
              <span class="text">Industry specialist</span>
              <h2>
                Get advices, guidance , and mentorship <br />
                from industry specialist
              </h2>
              <a href="{{ url_for('home') }}#services" class="button">Explore</a>
            </div>
          </div>
          <div class="slide swiper-slide">
            <img src="{{ url_for('static', filename='images/chris.jpg')}}" alt="" class="image" />
            <div class="image-data">
              <span class="text">Make Your Experiences Memorable.</span>
              <h2>
                Create Memories with us <br />
                And enjoy Your learning Journey
              </h2>
              <a href="{{ url_for('home') }}#services" class="button">Explore</a>
            </div>
          </div>
        </div>
    </div>
    <!--next and prev buttons -->
    <div class="swiper-button-next nav-btn"></div>
    <div class="swiper-button-prev nav-btn"></div>
    <div class="swiper-pagination"></div>
  </section>
{%endblock%}: